<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">

    <title>Login</title>
</head>

<body>
<div class="container">

    <form th:action="@{auth/login}" method="POST" >
        <h3 th:text="Login"></h3>
        <input type="email" name="email" th:placeholder="Email" /> <br /><br />
        <input type="password" th:placeholder="Password" name="password" /> <br /><br />
        <button type="Submit" class="btn btn-info col-2"> Login </button>
        <a th:href="@{register}" class="btn btn-primary col-2"> Register </a><br />

        <div th:if="${param.error}"><p>Username or Password is invalid.</p></div> <br/>

        <div th:utext="${successMessage}"></div>
    </form>

</div>

</body>
</html>