<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<div class="profile-info">
    <form action="#" th:action="@{register/save}" th:object="${user}" method="post">
        <label for="name">First Name:</label>
        <input type="text" th:field="*{name}" id="name" name="name" required><br>

        <label for="surname">Last Name:</label>
        <input type="text" th:field="*{surname}" id="surname" name="surname" required><br>

        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" name="email" required><br>

        <label for="address">Address:</label>
        <textarea id="address" th:field="*{address}" name="address" rows="3" required></textarea><br>

        <div class="checkbox-container">
            <label for="categories">Preferred Book Categories:</label>
            <div class="checkbox-box">
                <div class="column">
                    <div th:each="cat, iterStat : ${categories}" th:if="${iterStat.index % 2 == 0}">
                        <div class="checkbox-item">
                            <input type="checkbox" th:value="${cat}" th:text="${cat}" id="categories" name="favCats"><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div th:each="cat, iterStat : ${categories}" th:if="${iterStat.index % 2 == 1}">
                        <div class="checkbox-item">
                            <input type="checkbox" th:value="${cat}" th:text="${cat}" id="categories" name="favCats"><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <label for="authors">Favorite Authors:</label>-->
<!--        <input type="text" id="authors" name="authors" required><br>-->

        <button type="submit">Save Profile</button>
    </form>
</div>
</body>
</html>
